table { 
    border-collapse: collapse; 
} 
/* th { 
    background-color:green; 
    Color:white; 
}  */
td { 
    width:150px; 
    text-align:center; 
    border:1px solid black; 
    padding:5px 
  
} 